@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}


html{
    font-size: 62.5%;
    overflow-x: hidden;     
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Início do estilo para o cilíndrico fixo com gradiente */
.rectangle-effect {
    width: 48rem;
    height: 21rem;
    border-radius: 6rem;
    background: linear-gradient(45deg, rgba(255, 0, 0, 0.7), rgba(0, 0, 255, 0.7));
    opacity: 50%;
    filter: blur(4rem);
    position: absolute;  /* Fixa a posição da div dentro da section */
    top: 25%; /* Ajusta a posição dentro da section */
    right: 16%;
    transform: rotate(41deg);
    z-index: -1; /* Coloca atrás do conteúdo da section */
    pointer-events: none;
}
/* Fim do estilo para o cilíndrico fixo com gradiente */

section {
    min-height: 100vh;
    width: 100%;
    padding: 10rem 7% 2rem;
    background-color: var(--bg-color-figma);
    position: relative; /* Limita elementos absolutos */
    /* overflow: hidden;   Evita que elementos ultrapassem */
    z-index: -2;
}



/* Aqui começa a configuração da section home */
.home {
    display: flex;
    align-items: center;
    
}

.home .home-content {
    position: absolute;
    max-width: 37rem; 
    z-index: 0; /* Coloca o conteúdo acima do efeito */
    top: 8rem; 
}

.home-content {
    z-index: 1; /* Preciso verificar se é necessario */
}

.home-content h1 {
    font-size: 4.6rem; 
    font-weight: 700;
    margin-bottom: .3rem;
}

.home-content p {
    font-size: 1.6rem;
    font-weight: 700;
    padding-bottom: 2rem;
}

input.btn, a.btn {
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--button-background-color);
    border-radius: 5rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--text-color);
    letter-spacing: .1rem;
    font-weight: 600;
    border: 3px solid var(--button-border-background-color);
    transition: .5s ease;

}

input.btn:hover, a.btn:hover{
    background: var(--button-background-hover-color);
    color: var(--white-color);
    
}

.imagem_placa_home {
    display: flex;
    align-items: center;
    padding: 0rem 6% 3rem;
    position: absolute;
    top: 30rem;
    right: 0;
    width: 100%;
    height: 48.8vh;
    /* min-height: 100vh; */
    flex-direction: column;
}

.imagem_home {
    width: 100%; /* Ajusta para a largura total do contêiner */
    height: 100vh; /* Ajusta a altura para 100% da altura da viewport */
    object-fit: fill; /* Faz a imagem cobrir o espaço sem distorcer */
    z-index: 0;
}
/* Aqui termina a configuração da section home */

    

.serviços {
background-color: saddlebrown;
}

