.sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0; /* Espaço interno para não colar nas outras sections */
}

.sobre-content {
    position: absolute;
    max-width: 33rem;
    z-index: 2;
    top: 8rem;
}


.sobre-content h2 {
    font-size: 3.6rem;
    font-weight: 700;
    margin-bottom: .3rem;
}

.sobre-content p {
    font-size: 1.6rem;
    font-weight: 700;
    padding-bottom: 2rem;
}

#btn_sobre {
    padding: 2.2rem 10.2rem;
    margin-bottom: 7rem;
}

#rectangle-effect-sobre {
    left: 14rem;
    top: 44rem;
}

#circle-effect-left-sobre {
    right: 50%;
    left: auto;
    top: 69rem;
}
